<!-- form wrapper div  -->
<div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
  <!-- form starts  -->
  <form 
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="w-25 border rounded-2 shadow-lg p-3">
    <!-- form-header  -->
    <div class="h4 text-center text-danger py-3 border-bottom">Register Form</div>
    <!-- user name control  -->
    <div class="form-group my-3">
      <label for="userName" class="form-label">Username</label>
      <input 
        type="text" 
        id="userName" 
        class="form-control"
        formControlName="userName">
    </div>
    <!-- user email control  -->
    <div class="form-group my-3">
      <label for="userEmail" class="form-label">E-mail</label>
      <input 
        type="email" 
        id="userEmail" 
        class="form-control"
        formControlName="userEmail">
    </div>
    <!-- user gender control  -->
    <div class="form-group my-3">
      <label class="d-block form-label">Gender</label>
      <div 
        *ngFor="let gender of genders"
        class="form-check form-check-inline">
        <input 
          type="radio" 
          [id]="gender" 
          class="form-check-input" 
          formControlName="userGender"
          [value]="gender">
        <label [for]="gender" class="form-check-label">
          {{gender}}
        </label>
      </div>
    </div>
    <!-- submit button  -->
    <div class="d-grid my-3">
      <input type="submit" class="btn btn-success" value="Register">
    </div>
  </form>
</div>